<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button class='btn-socket' onclick='emitStuff()'>Click Me</button>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('http://localhost:3000/');

  socket.on('reply-from-server', (request) => {
    console.log('Got reply:', request);
  });

  socket.on('test-cron-emit', (request) => {
    console.log('This message is sent each 1 minute: ', request);
  });

  emitStuff = () =>{
    socket.emit('get-event-status', {
      message: {
        msgBody: 'Hello from client',
        msgError: false,
      },
    })
  }
</script>
